  body{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 4rem;
            font-size: 1.2rem;
        }

            .dark-mode{
                background-color: black;
                color: antiquewhite;
            }